/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
    background-color: rgb(44, 46, 47);
}

#image {
    float: left;
    width: 93.174634%;
    max-width: none;
    height: auto;
    margin-left: 6.972825%;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: 0px;
}

#box {
    float: left;
    height: 4.922644%;
    margin-left: 92.273763%;
    margin-top: 0px;
    clear: none;
    width: 7.726237%;
    margin-right: 0%;
    margin-bottom: 0px;
}

#box2 {
    float: left;
    height: 80px;
    margin-left: 0px;
    margin-top: 0px;
    clear: none;
    width: 100%;
    position: absolute;
    top: auto;
    left: 0px;
    bottom: 0px;
}

#box4 {
    float: left;
    height: 95%;
    margin-left: 0px;
    margin-top: 4px;
    clear: none;
    width: 34%;
    margin-right: 0px;
    left: auto;
    margin-bottom: 0px;
}

#box3 {
    float: left;
    height: 95%;
    margin-left: 0px;
    margin-top: 4px;
    clear: none;
    width: 33%;
    margin-right: 0px;
    margin-bottom: 0px;
}

#box5 {
    float: left;
    height: 95%;
    margin-left: 0px;
    margin-top: 4px;
    clear: none;
    width: 33%;
    min-height: 50px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#image2 {
    float: none;
    width: 51px;
    max-width: none;
    height: 67px;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    margin-bottom: 0px;
    position: static;
}

#image3 {
    float: none;
    width: 72px;
    max-width: none;
    height: 67px;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    margin-bottom: 0px;
}

#image4 {
    float: none;
    width: 58px;
    max-width: none;
    height: 68px;
    margin-left: auto;
    margin-top: 4px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
    margin-bottom: 0px;
}

#image1 {
    float: none;
    width: 95.927523%;
    max-width: none;
    height: 100%;
    margin-left: auto;
    margin-top: 0px;
    clear: none;
    color: rgb(0, 0, 0);
    margin-right: auto;
}

#box1 {
    float: none;
    height: auto;
    margin-left: auto;
    margin-top: 207.25px;
    clear: none;
    width: 20.94%;
    margin-right: auto;
}

@media only screen and (max-width: 960px) {
    #image {
        float: left;
        width: 93.174634%;
        max-width: none;
        height: auto;
        margin-left: 6.972825%;
        margin-top: 0px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: 0px;
    }

    #box {
        float: left;
        height: 5.277281%;
        margin-top: 0px;
        margin-right: 0%;
        margin-bottom: 0px;
        margin-left: 94.291992%;
        clear: none;
        width: 5.708008%;
    }

    #box2 {
        float: left;
        margin-left: 0px;
        margin-top: 0px;
        clear: none;
        width: 100%;
        position: absolute;
        top: auto;
        left: 0px;
        bottom: 0px;
        height: 80px;
        background-color: rgb(44, 46, 47);
    }

    #box4 {
        float: left;
        clear: none;
        position: static;
        top: 0px;
        left: 0px;
    }

    #box3 {
        float: left;
        clear: none;
        position: relative;
        top: 0px;
        left: 0px;
    }

    .primaryContainer {
        position: relative;
        background-color: rgb(59, 72, 66);
    }

    #box5 {
        float: left;
        clear: none;
        min-height: 50px;
        position: static;
        top: 0px;
        left: 0px;
    }

    #image2 {
        float: none;
        margin-left: auto;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: auto;
        margin-bottom: 0px;
        width: 51px;
    }

    #image3 {
        float: none;
        margin-left: auto;
        clear: none;
        color: rgb(0, 0, 0);
        margin-bottom: 0px;
        margin-right: auto;
    }

    #image4 {
        float: none;
        margin-left: auto;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: auto;
        margin-bottom: 0px;
    }

    #image1 {
        float: none;
        width: 95.927523%;
        max-width: none;
        height: 100%;
        margin-left: auto;
        margin-top: 0px;
        clear: none;
        color: rgb(0, 0, 0);
        margin-right: auto;
    }

    #box1 {
        float: none;
        height: auto;
        margin-left: auto;
        margin-top: 84px;
        clear: none;
        margin-right: auto;
    }
}

@media only screen and (max-width: 720px) {
    #box {
        width: 7.725694%;
        height: 6.261181%;
    }

    #box2 {
        width: 100%;
        bottom: 0px;
        left: 0px;
        top: auto;
    }

    #box4 {
        bottom: 0px;
        right: auto;
    }
}

@media only screen and (max-width: 400px) {
    #box {
        width: 7.722431%;
        height: 2.593918%;
    }

    #box2 {
        width: 100%;
        bottom: 0px;
        left: 0px;
        top: auto;
    }

    #box5 {
        min-height: 0px;
    }
}

